<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/ex01/input}" th:object="${MemberForm}" method="post">
  <label for="name">名前：</label>
  <input id="name" type="text" th:field="*{name}">
  <br>

  <label for="age">年齢：</label>
  <input id="age" type="number" th:field="*{age}">
  <br>

  <label for="hobby">趣味（3つ）：</label><br>
  <input id="hobby1" type="text" th:field="*{hobbyList}"><br>
  <input id="hobby2" type="text" th:field="*{hobbyList}"><br>
  <input id="hobby3" type="text" th:field="*{hobbyList}"><br>
  <br>


  <button type="submit">送信</button>
</form>

</body>
</html>
